@import "tailwindcss";

@theme {
  --color-cat-rosewater: #f5e0dc;
  --color-cat-flamingo: #f2cdcd;
  --color-cat-pink: #f5c2e7;
  --color-cat-mauve: #cba6f7;
  --color-cat-red: #f38ba8;
  --color-cat-maroon: #eba0ac;
  --color-cat-peach: #fab387;
  --color-cat-yellow: #f9e2af;
  --color-cat-green: #a6e3a1;
  --color-cat-teal: #94e2d5;
  --color-cat-sky: #89dceb;
  --color-cat-sapphire: #74c7ec;
  --color-cat-blue: #89b4fa;
  --color-cat-lavender: #b4befe;
  --color-cat-text: #cdd6f4;
  --color-cat-subtext1: #bac2de;
  --color-cat-subtext0: #a6adc8;
  --color-cat-overlay2: #9399b2;
  --color-cat-overlay1: #7f8497;
  --color-cat-overlay0: #6c7086;
  --color-cat-surface2: #585b70;
  --color-cat-surface1: #45475a;
  --color-cat-surface0: #313244;
  --color-cat-base: #1e1e2e;
  --color-cat-mantle: #181825;
  --color-cat-crust: #11111b;
  
  --font-sans: "Manrope", "Space Grotesk", system-ui, -apple-system, sans-serif;
}

/* Base styles to set the default background and text color */
body {
    @apply bg-cat-base text-cat-text font-sans antialiased;
}